.btn-cart-plus{
   border-radius: 50px;
    background:  #E04B1E;
    border: 0;
    color: white;

}
.container-body-card{
    flex-direction: column;
}

.container-price{
    justify-content: space-between;
    align-items: center;
}

.img-card{
    width: 286px;  
    height: 320px;
}

.card-text {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 18px;
}

.info {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.card-price {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.price {
    text-align: center;
}

.sku {
    text-align: center;
    font-size: 20px;
}