.contenedorRoot{
    display: flex;
   margin-top: 7em; 

}
.columns{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 40px;

}

.textLoading{
    text-align: center;
    width: 100vw;
  } 